/* body{
background-color:pink;
color:black;
}
h1{
    text-align: center;
}
button{
background-color:red;
}
fieldset{
    background:yellow;
    width:30%;
    margin-left:30%;
}
.drop{
   width:px;
}
.img{
    height:20px;
}
.mar{
    background-color:cadetblue;
    font-style:italic;
    font-size:25px;
    text-align:center;
    width:146px;
}
.fill{
    background-color:black;
    width:138px;
    height:30px;
    font-size: 25px;
    color:white;
}
button{
    color:rgb(13, 12, 12);
    background-color:rgb(31, 198, 253);
} */